# 元组
* 元组与列表类似，不同之处在于元组的元素不能修改。
* 元组使用小括号，列表使用方括号。
* 元组创建很简单，只需要在括号中添加元素，并使用逗号隔开即可。

In [2]:
tup1=(1,2,'hello',True)
print(tup1)
print(type(tup1))

(1, 2, 'hello', True)
<class 'tuple'>

In [3]:
tup1=1,2,'hello',True
print(tup1)

(1, 2, 'hello', True)

In [9]:
tup2=()
print(tup2)
tup2=(1,)
print(type(tup2))

()
<class 'tuple'>

# 访问元组
* 元组可以使用下标索引来访问元组中的值

In [10]:
print(tup1)
print(tup1[0])

(1, 2, 'hello', True)
1

# 修改元组
* 元组中的元素值是不允许修改的，但我们可以对元组进行连接组合

In [12]:
tup1=1,2,'hello'
tup2=1,3,'world'
print(tup1,tup2)
print(tup1+tup2)

(1, 2, 'hello') (1, 3, 'world')
(1, 2, 'hello', 1, 3, 'world')

# 删除元组
* 元组中的元素值是不允许删除的，但我们可以使用del语句来删除整个元组

In [18]:
tup2=(1,2)
print(tup2)
del tup2

(1, 2)

# 元组运算符
* 与字符串一样，元组之间可以使用 + 号和 * 号进行运算。这就意味着他们可以组合和复制，运算后会生成一个新的元组

In [20]:
tup1=(1, 2, 'hello', 1, 3, 'world')
print(tup1+tup1)
print(tup1*2)

(1, 2, 'hello', 1, 3, 'world', 1, 2, 'hello', 1, 3, 'world')
(1, 2, 'hello', 1, 3, 'world', 1, 2, 'hello', 1, 3, 'world')

In [21]:
print(len(tup1))

6

In [23]:
print('helo' in tup1)

False

In [25]:
for x in tup1:print(x,'\n')

1

2

hello

1

3

world

# 元组索引，截取
* 因为元组也是一个序列，所以我们可以访问元组中的指定位置的元素，也可以截取索引中的一段元素

In [26]:
tup1=(1, 2, 'hello', 1, 3, 'world')
print(tup1[1])
print(tup1[1:3])

2
(2, 'hello')

# 元组内置函数

In [27]:
tup1=(1,2,3,5,7,9)
# len
print(len(tup1))
# max
print(max(tup1))
# min
print(min(tup1))
lst1=[1,2,3]
print(type(tuple(lst1)))

6
9
1
<class 'tuple'>